<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if comment.attachment.present? %>
<p>
  <strong>Attachment:</strong>
  </br>
  <% basefile = comment.attachment.url.split('/').last() %>
  <% file_type = basefile.split('.').last().downcase %>
  <% valid_image_type = ['jpg', 'jpeg', 'png', 'bmp'] %>
  <% if valid_image_type.include?file_type %>
    <%= link_to comment.attachment.url do %>
      <%= image_tag comment.attachment.thumb.url %>
    <% end %>
  <% else %>
    <%= link_to basefile, root_url+comment.attachment.url %>
  <% end %>
</p>
<% end %>


<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { comfirm: 'Are you sure?' } %>
</p>
