<!-- Article rendering -->
<h2>Article</h2>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if @article.attachments.present? %>
<p>
  <strong>Attachments:</strong>
  </br>
  <ol>
  <% @article.attachments.each do |attachment| %>
    <% basefile = attachment.url.split('/').last() %>
    <% file_type = basefile.split('.').last().downcase %>
    <% valid_image_type = ['jpg', 'jpeg', 'png', 'bmp'] %>
    <li>
    <% if valid_image_type.include?file_type %>
      <%= link_to attachment.url do %>
        <%= image_tag attachment.thumb.url %>
      <% end %>
    <% else %>
      <%= link_to basefile, root_url+attachment.url %>
    <% end %>
    </li>
    </br>
  <% end %>
  </ol>
</p>
<% end %>

<!-- Comments rendering -->
<hr>
<h2>Comments</h2>
<ul>
<% @article.comments.each do |comment| %>
  <li><%= render comment %></li>
<% end %>
</ul>

<!-- Comment adding section -->
<hr>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
